*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.xdv
*.RData
*.Rhistory

# Most .tex files will be intermediate products from .Rnw or .Rmd files, so it
# shouldn't be necessary to track them.
*.tex
